/* All css parts of the final buy page thing */
.rightInfoBox{
  /*float: middle;*/
}

.flexbox{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*float: left;*/
}